@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .8s ease, transform .8s ease;
}

.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity .8s ease, transform .8s ease;
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity .8s ease, transform .8s ease;
}

.show {
    opacity: 1;
    transform: translate(0, 0);
}

/* ===== STAGGER TEXT ===== */
.stagger span {
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease, transform .6s ease;
}

.stagger.show span {
    opacity: 1;
    transform: translateY(0);
}

.stagger span:nth-child(1) { transition-delay: .1s }
.stagger span:nth-child(2) { transition-delay: .25s }
.stagger span:nth-child(3) { transition-delay: .4s }
.stagger span:nth-child(4) { transition-delay: .55s }

